@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');


body {
    --bg: rgb(251, 251, 251);
    --text:  rgb(255, 184, 51);
    --hover: #ff8c34;
    --highfive:  #cf631b;
    --chapter: rgb(0, 136, 255);;
    --title: rgb(209, 209, 200);
    --subtitle:  rgb(209, 209, 200);
    --line: 0.3px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    top: 45%;
    left:50%;
    transform: translate(-50%, -50%);

    font-family: 'Noto Sans KR', sans-serif;
    white-space: nowrap;
    font-size: 15px;
    color: var(--text);
    background-color: var(--bg);
    height: 100vh;
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

a, ul, li{
    list-style:none;
    padding: 0;
    margin: 0;
    color: var(--text);
}
a{
    text-underline-position: under;
}
a:hover{
    color: var(--hover);
}

.container{
    width: 70vw;
    max-width: 280px;
    font-weight: 700;
    color: var(--chapter);
    line-height: 21px;
}

@media (max-width:480px){
    body{
        top: 45%;
    }
    .container {
        width:90vw;
        max-width: 480px;

    }

}
#more{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--title);
    font-weight: 500;
    opacity: 0.5;
}

#more:hover{
    color: var(--hover);
    opacity: 1;
}

.chapter{
    margin-bottom: 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: center;

    
    color: var(--subtitle);
    font-weight: 500;
}
.description{
    color: var(--title);
    font-style: normal;
    word-spacing: -0.7px;
    letter-spacing: 0px;
    font-weight: 500;
    padding-left: 4px;
    display: none;

}
.subtitle{
    color: var(--subtitle);
    font-weight: 500;
    -webkit-text-stroke-width: var(--line);
    -webkit-text-stroke-color: inherit;
    margin-top: 0.2px;

}


.chapter-number{
    font-weight: 700;
    color: var(--chapter);
    word-spacing: -0.6px;
    letter-spacing: 0px;  
    margin-left: 0px;
    text-align: center;
    display: none;
}
.new{
     opacity: 1;
     filter: none;
}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -0.3px;
    font-weight: 500;
    margin-left: 0px;
    
}
.list-item{
    float: left;
    padding-right: 7px;
}
chapter:hover +.chapter.new > .header > .title > .description{
    display: block;
}
.one, .two, .three{
}
.list-item.new > a{
}

img{
    display: none;
    position: absolute;
    width: 10vw;
    left: 50%;
    bottom: 3px;
    filter: invert(99%) sepia(0%) saturate(106%) hue-rotate(260deg) brightness(105%) contrast(99%);
    padding-bottom: 17px;
}