@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');


body {
    --bg: #F4F6F8;
    --text:  #121212;

	font-family: 'Pretendard';
    margin: 0px;
    font-size: 16px;
    color: var(--text);
    background-color: var(--bg);
    height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

a, ul, li{
    list-style:none;
    padding: 0;
    margin: 0;
    color: var(--text);
}
a{
    text-underline-position: under;
}

.list-item{
    float: left;
    padding-right: 8px;
}

.container{
position: absolute;
top: 20px;
left: 24px;
font-weight: 400;

}
.chapter{
    display: flex;
    justify-content: left;
    align-items: top;
    margin-bottom: 38px;
}
.chapter-number{
    margin-right: 20px;
}
.content{
    display: flex;
    flex-direction: column;
}
.content > span{
    margin-bottom: 3px;
}

.description{
    margin-left: -0.3px;
}
.title{
    padding-top: 1px;
}

img{
    position: absolute;
bottom: 14px;
    right: 20px;

    height: 40px;
}

footer{
    position: absolute;
    bottom:14px;
    color: #9f9f9f;
    opacity: 0.3;
    left: 24px;
    font-size: 11px;
    text-align: left;
    
}
